@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    min-height: 100vh;
    min-width: 100vw;
    display: grid;
    place-items: center;
    background: linear-gradient(to right, #14279B, #3D56B2);
    background-repeat: no-repeat;
}

.container {
    padding: 2rem;
    width: 50vw;
    height: 55vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: #E6E6E6;
    border-radius: 10px;
}

h1 {
    color: #5C7AEA;
}

form {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    padding: 2rem;
}

.input-field {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 2rem;
    width: 100%;
}

.input-field label {
    color: #3D56B2;
}

.input-field input[type="text"] {
    margin-top: 10px;
    width: 70%;
    font-size: 1.5rem;
    border-radius: 8px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    outline: none;
    padding: 0.4rem;
    color: #5C7AEA;
    transition: 0.3s ease;
}

.input-field input[type="text"]::placeholder {
    color: rgba(0, 0, 0, 0.3);
}

.input-field input[type="text"]:focus {
    border: solid 1px #5C7AEA;
}

.btn {
    margin-top: 10px;
    padding: 0.6rem;
    font-size: 1.5rem;
    border: none;
    border-radius: 8px;
    background: #3D56B2;
    color: #E6E6E6;
    transition: 0.3s ease;
}

.btn:hover {
    background: #5C7AEA;
    cursor: pointer;
}

p {
    margin-top: 10px;
    color: #3D56B2;
    font-size: 1.5rem;
}

@media (max-width: 900px) {
    .container {
        height: auto;
    }

    .input-field {
        font-size: 2rem;
    }

    .input-field input[type="text"] {
        margin-top: 5px;
        width: 50%;
        font-size: 1.5rem;
        padding: 0.2rem;
    }

    form {
        flex-direction: column;
    }
}

@media (max-width: 650px) {
    h1 {
        font-size: 1.5rem;
    }

    .container {
        height: auto;
    }

    .input-field {
        font-size: 1rem;
    }

    .input-field input[type="text"] {
        margin-top: 5px;
        width: 50%;
        font-size: 1rem;
        padding: 0.2rem;
    }

    .btn {
        font-size: 1rem;
        margin-top: 5px;
    }

    p {
        margin-top: 5px;
        font-size: 1rem;
    }
}

@media (max-width: 471px) {
    h1 {
        font-size: 0.9rem;
    }

    .container {
        height: auto;
        width: 70vw;
    }

    .input-field {
        font-size: 1rem;
    }

    .input-field input[type="text"] {
        width: 50%;
        font-size: 1rem;
    }

    .btn {
        font-size: 0.9rem;
    }

    p {
        font-size: 0.9rem;
    }
}